= form_with model: list, local: true do |f|
  - if list.errors.any?
    .SettingListForm__errors
  .container.text-center
    .form-group
      = f.label :title, "タスク予定日"
      = f.text_field :title, placeholder: "タスクを行う日付を入力してください", class: "form-control "
      %br
      = f.submit "更新する", class: "btn btn-primary btn-sm"