= form_with model: list, local: true do |f|
  - if list.errors.any?
    .SettingListForm__errors
  .container.text-center
    .form-group
      = f.label :title, "タスク開始予定日"
      %br
      = f.text_field :title, placeholder: "日付を入力してください", class: "form-control, w-20"
      %br
      %br
      = f.submit "作成する", class: "btn btn-primary btn-sm"