<div class="ListIndex">
  <div class="ListWrapper">
    <% @lists.each do |list| %>
      <div class="List">
        <nav class="List__header">
          <h3 class="List__header__title"><%= list.title %></h3>
          <ul class="navbar-nav menu">
            <li>
              <%= link_to  edit_list_path(list.id), method: :get, class: "nav-item" do  %>
              <i class="far fa-edit"></i>
              <% end %>
            </li>
            <li>
              <%= link_to list_path(list.id), method: :delete, class: "nav-item" do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    <div class="AddTask">
      <div class="TaskWrapper">
        <%= link_to new_list_task_path(list), method: :get, class: "PlusTask" do %>
        <i class="fas fa-plus"></i>
      <div class="AddTask__add">カードを追加する</div>
        <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>