.ListIndex {
  .ListWrapper {
    display: flex;
    .List {
      margin-left: 30px;
      width: 200px;
      border: 2px solid ;
      border-radius: 10px;
      margin-right: 10px;
      &__header{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: lightgray;
        height: 50px;
        &__title{
          padding-left: 10px;
        }
      }
    }
    .TaskWrapper {
      .card {
          height: 60px;
          width: 150px;
          margin-left: 20px;
          margin-bottom: 5px;
        .card-body {
          height: 100px;
        }
        .icon {
          position: absolute;
        }
        .card-title {
        }
      }
    }
  }
}