.TaskShow
  .container
    %h1.display-4
      タスクの詳細
    %table.table.table-hover.w-50
      %thead.thead-light
        %tr
          %th
            項目
          %th
            タスク
      %tbody
        %tr
          %th{:scope => "row"}
            タイトル
          %td
            = @task.title
        %tr
          %th{:scope => "row"}
            メモ
          %td
            = @task.memo
        %tr
          %th{:scope => "row"}
            開始予定時刻
          %td
            = @task.time.strftime("%H:%M")
    .btn-group{:role => "group"}
      =link_to "編集する", edit_list_task_path(@list.id,@task.id), method: :get, class: "btn btn-secondary"
      =link_to "削除する", list_task_path(@list.id,@task.id), method: :delete, class: "btn btn-secondary", data: { confirm: '削除しますか？' }