%body
  %header.header
    %h1
      タスク管理
    - if user_signed_in?
      %ol.info
        %li.user-name
          = current_user.name
        %li
          = link_to destroy_user_session_path, method: :delete, class: "cp_link" do
            %span{"data-text" => "ログアウト"} ログアウト
    - else
      %ol.info
        %li
          = link_to new_user_session_path, class: "cp_link" do
            %span{"data-text" => "ログイン"} ログイン
        %li
          = link_to new_user_registration_path, class: "cp_link" do
            %span{"data-text" => "会員登録"} 新規会員登録
